.navbar{
    margin: 0;
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    display: inline;
    float:left;
}

.navbar li a {
    display: block;
    padding: 5px;
    background-color: beige; /* warna nav */
    color: black; /* warna text nav */
    text-align: center;
}